[Desktop Entry]
Name=ReHearth
Comment=Stonehearth launcher and mod manager
Exec=rehearth
Icon=steam_icon_253250
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=rehearth
