[Desktop Entry]
Name=ReHearth
Comment=Stonehearth launcher and mod manager
Exec=rehearth
Icon=rehearth
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=rehearth
